<div class="fork-app">
	<h1 class="fork-app__title">
		Fork App
	</h1>
	<h2 class="fork-app__sub-title">
		A real gamechanger in the world of web development
	</h2>
	<p class="fork-app__text-title">
		V. 2.8 FOR MAC AND WINDOWS
	</p>
	<div class="fork-app__button">
		<a class="fork-app__btn" href="#">Download For Free Now</a>
	</div>
</div>

