<div class="fork">
	<div class="fork__container">
		<h4 class="fork__title-name">Fork Subscription Pricing</h4>

		<div class="fork__content">
			<ul class="fork__cards">
				<li class="fork__card-single">
					<div class="fork__card-information">
						<h4 class="fork__card-name">STUDENTS</h4>
						<span class="fork__card-price">$29</span>
						<span class="fork__card-time">PER MONTH</span>
						<img alt="violet-line.png" class="fork__card-img" src="@img/violet-line.png">
						<span class="fork__card-details first-card-padding">Personal License</span>
						<button class="fork__card-btn">PURCHASE</button>
					</div>
				</li>

				<li class="fork__card-single">
					<div class="fork__card-information">
						<h4 class="fork__card-name">PROFESSIONAL</h4>
						<span class="fork__card-price">$59</span>
						<span class="fork__card-time">PER MONTH</span>
						<img alt="violet-line.png" class="fork__card-img" src="@img/violet-line.png">
						<span class="fork__card-details">Professional License <br> Email Support</span>
						<button class="fork__card-btn">PURCHASE</button>
					</div>
				</li>

				<li class="fork__card-single">
					<div class="fork__card-information card-information-another">
						<h4 class="fork__card-name card-name-another">AGENCY</h4>
						<span class="fork__card-price card-price-another">$99</span>
						<span class="fork__card-time card-time-another">PER MONTH</span>
						<img alt="violet-line.png" class="fork__card-img" src="@img/violet-line.png">
						<span class="fork__card-details card-details-another">1-12 Team Members <br> Phone Support</span>
						<button class="fork__card-btn btn-another">PURCHASE</button>
					</div>
				</li>

				<li class="fork__card-single">
					<div class="fork__card-information">
						<h4 class="fork__card-name">ENTERPRISE</h4>
						<span class="fork__card-price">$159</span>
						<span class="fork__card-time">PER MONTH</span>
						<img alt="violet-line.png" class="fork__card-img" src="@img/violet-line.png">
						<span class="fork__card-details">Unlimited Team Members <br> 24/7 Phone Support</span>
						<button class="fork__card-btn">PURCHASE</button>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>