<header class="header">
	<div class="header__content">
		<div class="header__logo-wrapper first-element">
			<a class="header__logo logo" href="#">
				<img alt="logo-violet" class="header__svg-logo" src="@img/logo.svg">
				<img alt="logo-white" class="header__svg-logo-hover" src="@img/logo-hover.svg">
				<span class="header__logo-text">FORKIO</span>
			</a>
		</div>

		<div class="header__menu menu second-element">
			<div class="menu__icon icon-menu">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<nav class="menu__body">
				<ul class="menu__list">
					<li class="menu__hover">
						<a class="menu__link link-hover " href="#">Overview</a>
					</li>
					<li class="menu__hover">
						<a class="menu__link link-hover" href="#">About Fork</a>
					</li>
					<li class="menu__hover">
						<a class="menu__link link-hover" href="#">Buying Options</a>
					</li>
					<li class="menu__hover">
						<a class="menu__link link-hover" href="#">Support</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="header__button buy-button third-element">
			<a class="header__buy-btn" href="#">Buy Now</a>
		</div>
	</div>
</header>