<div class="here">
	<div class="here__container">
		<div class="here__content">

			<ul class="here__all-cards">
				<li class="here__card">
					<div class="here__card-content">
						<img alt="part-here1.png"
						     class="here__card-img first_img"
						     height="64px"
						     src="@img/part-here1.svg"
						     width="111px"
						>
						<div class="here__card-text-container">
							<h4 class="here__card-name">
								Creatred to Make The Web Better
							</h4>
							<h5 class="here__card-information">
								Aenean cursus imperdiet nisl id fermentum.
								Aliquam pharetra dui laoreet vulputate dignissim.
								Sed id metus id quam auctor molestie eget ut augue.
							</h5>
						</div>
					</div>

				</li>

				<li class="here__card top">
					<div class="here__card-content">
						<img alt="part-here2.png"
						     class="here__card-img second_img"
						     height="80px"
						     src="@img/part-here2.svg"
						     width="90px"
						>
						<div class="here__card-text-container">
							<h4 class="here__card-name">
								Incredibly Powerful Tool
							</h4>
							<h5 class="here__card-information">
								Maecenas eu dictum felis, a dignissim nibh.
								Mauris rhoncus felis odio, ut volutpat massa placerat ac.
								Curabitur dapibus iaculis mi gravida luctus.
								Aliquam erat volutpat.
							</h5>
						</div>
					</div>
				</li>

				<li class="here__card top">
					<div class="here__card-content">
						<img alt="part-here3.png"
						     class="here__card-img third_img"
						     height="84px"
						     src="@img/part-here3.svg"
						     width="60px"
						>
						<div class="here__card-text-container">
							<h4 class="here__card-name">
								Experimental Stuff
							</h4>
							<h5 class="here__card-information">
								Maecenas eu dictum felis, a dignissim nibh.
								Mauris rhoncus felis odio, ut volutpat massa placerat ac.
								Curabitur dapibus iaculis mi gravida luctus.
								Aliquam erat volutpat.
							</h5>
						</div>
					</div>
				</li>

				<li class="here__card top">
					<div class="here__card-content">
						<img alt="part-here4.png"
						     class="here__card-img fourth_img"
						     height="71px"
						     src="@img/part-here4.svg"
						     width="71px"
						>
						<div class="here__card-text-container">
							<h4 class="here__card-name">
								Creatred to Make The Web Better
							</h4>
							<h5 class="here__card-information">
								Maecenas eu dictum felis, a dignissim nibh.
								Mauris rhoncus felis odio, ut volutpat massa placerat ac.
								Curabitur dapibus iaculis mi gravida luctus.
								Aliquam erat volutpat.
							</h5>
						</div>
					</div>
				</li>

			</ul>
		</div>
		<h2 class="here__title-text">
			< Here is what you get >
		</h2>

		<img alt="part-here-window.png"
		     class="here__window-img"
		     height="auto"
		     src="@img/part-here-window.png"
		     width="100%"
		>
		<img alt="part-here-window-320.png"
		     class="here__window-img-320"
		     height="auto"
		     src="@img/part-here-window-320.png"
		     width="100%"
		>
	</div>
</div>