<div class="people-are-talking">
	<h1 class="people-are-talking__title">
		People Are Talking About Fork
	</h1>
	<div class="people-are-talking__magazines">
		<div class="people-are-talking__label smashing">
			<a class="people-are-talking__link" href="#">
				<img class="people-are-talking__logo smashing-logo" src="@img/logo_smashing.svg" alt="smashing">
			</a>
			<p class="people-are-talking__logo-text smashing-text">
				Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
				Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
			</p>
		</div>
		<div class="people-are-talking__label codrops">
			<a class="people-are-talking__link" href="#">
				<img class="people-are-talking__logo codrops-logo" src="@img/logo_codrops.svg" alt="codops">
			</a>
			<p class="people-are-talking__logo-text codrops-text">
				Donec euismod dolor ut ultricies consequat.
				Vivamus urna ipsum, rhoncus molestie neque ac, mollis eleifend nibh.
			</p>
		</div>
		<div class="people-are-talking__label w_label">
			<a class="people-are-talking__link" href="#">
				<img class="people-are-talking__logo w_label-logo" src="@img/logo_w.svg" alt="W">
			</a>
			<p class="people-are-talking__logo-text w_label-text">
				In efficitur in velit et tempus.
				Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh.
				Morbi tempus auctor felis ac vehicula.
			</p>
		</div>
		<div class="people-are-talking__label pixel-buddha">
			<a class="people-are-talking__link" href="#">
				<img class="people-are-talking__logo pixel-buddha-logo" src="@img/logo_pixel-buddha.svg" alt="pixel-buddha">
			</a>
			<p class="people-are-talking__logo-text pixel-buddha-text">
				Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
				Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
			</p>
		</div>
		<div class="people-are-talking__label creative-bloq">
			<a class="people-are-talking__link" href="#">
				<img class="people-are-talking__logo creative-bloq-logo" src="@img/logo_creative-bloq.svg" alt="creative-bloq">
			</a>
			<p class="people-are-talking__logo-text creative-bloq-text">
				Praesent ut eros tristique, malesuada lectus vel, lobortis massa.
				Nulla faucibus lorem id arcu consequat faucibus.
			</p>
		</div>
		<div class="people-are-talking__label tnw">
			<a class="people-are-talking__link" href="#">
				<img class="people-are-talking__logo tnw-logo" src="@img/logo_tnw.svg" alt="tnw">
			</a>
			<p class="people-are-talking__logo-text tnw-text">
				Fusce pharetra erat id odio blandit, nec pharetra eros venenatis.
				Pellentesque porttitor cursus massa et vestibulum.
			</p>
		</div>
	</div>
	<p class="people-are-talking__low-text">
		Duis lobortis arcu sed arcu tincidunt feugiat.
		Nulla nisi mauris, facilisis vitae aliquet id, imperdiet quis nibh.
		Donec eget elit eu libero tincidunt consequat nec elementum orci.
		Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
	</p>
</div>
