<div class="revolutionary-editor">
	<p class="revolutionary-editor__trial">
		Unlimited 30-Days Trial Period
	</p>
	<h1 class="revolutionary-editor__title">
		REVOLUTIONARY EDITOR
	</h1>
	<p class="revolutionary-editor__text">
		Aenean cursus imperdiet nisl id fermentum.
		Aliquam pharetra dui laoreet vulputate dignissim.
		Sed id metus id quam auctor molestie eget ut augue.
	</p>
	<div class="revolutionary-editor__statistic">
		<div class="revolutionary-editor__block">
			<div class="revolutionary-editor__svg-block">
				<img src="@img/eye.svg" width="16px" height="11px" alt="eye">
				<span class="revolutionary-editor__statistic-text-left">Watch</span>
			</div>
			<div class="revolutionary-editor__text-block">
				<a class="revolutionary-editor__statistic-link" href="">1,397</a>
			</div>
		</div>
		<div class="revolutionary-editor__block">
			<div class="revolutionary-editor__svg-block">
				<img src="@img/star.svg" width="14px" height="13px" alt="star">
				<span class="revolutionary-editor__statistic-text-left">Star</span>
			</div>
			<div class="revolutionary-editor__text-block">
				<a class="revolutionary-editor__statistic-link" href="">21,038</a>
			</div>
		</div>
		<div class="revolutionary-editor__block">
			<div class="revolutionary-editor__svg-block">
				<img src="@img/fork.svg" width="12px" height="16px" alt="fork">
				<span class="revolutionary-editor__statistic-text-left">Fork</span>
			</div>
			<div class="revolutionary-editor__text-block">
				<a class="revolutionary-editor__statistic-link" href="">4,391</a>
			</div>
		</div>
	</div>
</div>