@import "_mixins";

.fork-app {
  text-align: center;
  align-items: center;
  max-width: 1200px;

  margin: 0 auto;

  &__title {
    @include MontserratFont();
    @include fontParameters (normal, 700, 82px, 77px, #FFFFFF);

    padding-top: 112.5px;
    padding-bottom: 19px;

    @media (max-width: ($md2+px)) {
      @include fontParameters (normal, 700, 72px, 72px, #FFFFFF);
      padding-top: 69px;
    }

    @media (max-width: ($md3+px)) {
      @include fontParameters (normal, 700, 48px, 48px, #FFFFFF);
      padding-top: 50px;
    }
  }

  &__sub-title {
    @include LatoFont();
    @include fontParameters (normal, 400, 30px, 28px, #8D81AC);

    padding-bottom: 19px;

    @media (max-width: ($md2+px)) {
      @include fontParameters (normal, 400, 24px, 24px, #8D81AC);
    }

    @media (max-width: ($md3+px)) {
      @include MontserratFont();
      @include fontParameters (normal, 400, 18px, 24px, #8D81AC);

      padding-right: 20px;
      padding-left: 20px;

      text-transform: capitalize;
    }
  }

  &__text-title {
    @include MontserratFont();
    @include fontParameters (normal, 400, 16px, 15px, #848E97);

    text-transform: uppercase;
    padding-bottom: 437px;

    @media (max-width: ($md2+px)) {
      @include fontParameters (normal, 400, 14px, 14px, #848E97);
      padding-bottom: 437px;
    }

    @media (max-width: ($md3+px)) {
      padding-bottom: 416px;
    }
  }

  &__btn {
    @include MontserratFont();
    @include fontParameters (normal, 700, 21px, 21px, #FFFFFF);

    background: #8D81AC;
    padding: 18px 61px;
    border-radius: 40px;

    text-decoration: none;

    @media (max-width: ($md3 + px)) {
      @include fontParameters (normal, 700, 18px, 20px, #FFFFFF);
      padding: 13px 29px;
    }
  }

  &__btn:hover {
    color: #8D81AC;
    background: #FFFFFF;
    border: 2px solid #8D81AC;
  }

  &__button {
    transform: translateY(8px);
  }
}