@import "_mixins";

.header {
  position: relative;
  z-index: 100;
  width: 100%;

  &__content {
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 4px;
    padding-left: 90px;
    padding-right: 90px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    list-style-type: none;
    text-decoration: none;

    @media (max-width: ($md2 + px)) {
      flex-wrap: wrap;
      padding: 0;

      .first-element {
        order: 0;
        width: 50%;
        padding-left: 20px;
      }
      .second-element {
        order: 2;
        width: 100%;
      }
      .third-element {
        order: 1;
        width: 50%;
        padding-right: 20px;
        display: flex;
        justify-content: flex-end;
      }
    }

    @media (max-width: ($md3 + px)) {
      flex-wrap: nowrap;
      justify-content: center;
      width: 100%;

      margin-bottom: 30px;
      padding-bottom: 0;

      .first-element {
        padding-left: 0;
        margin-left: 15px;
        width: 13%;
      }

      .second-element {
        width: 12.5%;
      }

      .third-element {
        padding-right: 0;
        justify-content: center;
        width: 80%;
      }
    }
  }

  &__menu {
    margin-top: 41px;
    max-width: 100%;

    display: flex;
    justify-content: center;

    @media (max-width: ($md2 + px)) {
      margin-top: 18px;
      margin-bottom: 18px;
    }

    @media (max-width: ($md3 + px)) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__logo {
    display: flex;
    gap: 17px;

    text-decoration: none;
    margin-top: 28.5px;

    @media (max-width: ($md4 + px)) {
      margin-top: 22px;
    }

    @media (max-width: ($md2 + px)) {
      margin-top: 22px;
    }

    @media (max-width: ($md3 + px)) {
     margin-top: 32px;
    }

  }

  &__logo-text {
    @include LatoFont();
    @include fontParameters (normal, 700, 24px, 16px, #8D81AC);

    padding-top: 15px;

    @media (max-width: ($md3 + px)) {
      display: none;
    }
  }

  &__svg-logo {
    position: relative;
  }

  &__svg-logo-hover {
    position: absolute;
    opacity: 0;
  }

  &__logo:hover &__logo-text  {
    color: #FFFFFF;
  }

  &__logo:hover &__svg-logo-hover  {
    opacity: 1;
  }

  &__button {
    margin-top: 40px;

    @media (max-width: ($md2 + px)) {
      margin-top: 24px;
    }
    @media (max-width: ($md3 + px)) {
      margin-top: 34px;
    }
  }

  &__buy-btn {
    @include MontserratFont();
    @include fontParameters (normal, 700, 16px, 17px, #FFFFFF);

    text-decoration: none;
    white-space: nowrap;

    border: 2px solid #8D81AC;
    background-color: #8D81AC;
    border-radius: 40px;
    padding: 9px 33px;
    margin-bottom: 4px;

    @media (max-width: ($md3 + px)) {
      @include MontserratFont();
      @include fontParameters (normal, 700, 15px, 15px, #FFFFFF);
    }
  }

  &__buy-btn:hover {
    color: #8D81AC;
    background: #FFFFFF;
    border: 2px solid #8D81AC;
  }
}

.menu {
  &__body {

    @media (max-width: ($md3+px)) {
      opacity: 0;

      position: fixed;
      top: 104px;
      right: 15px;

      width: 292px;
      height: 379px;

      overflow: auto;
      background-color: #333333;

      &._active {
        opacity: 100;
      }
    }
  }

  &__list {
    display: flex;
    width: 517px;
    justify-content: space-between;
    flex-wrap: nowrap;
    transition: 2s;

    margin-right: 48px;
    margin-left: 227px;

    @media (max-width: ($md2 + px)) {
      transition: 2s;
      padding-right: 0;
    }

    @media (max-width: ($md4 + px)) {
      margin-left: 121px;
      transition: 2s;
    }

    @media (max-width: ($md6 + px)) {
      width: auto;
      justify-content: center;
      margin-left: 30px;
      margin-right: 30px;
      gap: 20px;
      transition: 2s;
    }

    @media (max-width: ($md5 + px)) {
      padding-right: 0;
      gap: 25px;
      transition: 2s;

      margin-left: 0;
      margin-right: 0;
    }

    @media (max-width: ($md3 + px)) {
      transition: 2s;
      display: flex;
      flex-direction: column;
      gap: 0;
    }
  }

  &__link {
    @include MontserratFont();
    @include fontParameters (normal, 700, 16px, 15px, #8D81AC);

    list-style-type: none;
    text-decoration: none;

    @media (max-width: ($md3+px)) {
      @include MontserratFont();
      @include fontParameters (normal, 400, 26px, 26px, #FFFFFF);

      text-align: left;
      padding-left: 35px;
    }
  }

  &__hover {
    @media (max-width: ($md3+px)) {
      padding-top: 31px;
      padding-bottom: 31px;
      border-bottom: 3px solid #3B3B3B;
    }
  }
}

.link-hover:hover {
  color:  #FFFFFF;

  @media (max-width: ($md3+px)) {
    color:  #8D81AC;
    border-left: 8px solid #8D81AC;
    margin-left: 1px;
    padding-top: 13.5px;
    padding-bottom: 13.5px;
  }
}

// line to cross
.icon-menu {
  display: none;

  @media (max-width: ($md3+px)) {
    display: flex;
    position: fixed;
    top: 43px;
    right: 15px;

    width: 26px;
    height: 21px;
    margin-bottom: 0;

    cursor: pointer;
    z-index: 5;

    span  {
      transition: all 0.3s ease 0s;
      top: calc(49% - 1px);

      position: absolute;
      width: 26px;
      height: 3px;
      background-color: #FFFFFF;

      &:first-child {
        top: 18px;
      }

      &:last-child {
        top: auto;
        bottom: 18px;
        width: 15px;
        left: 11px;
      }
    }

    &._active {
      span {
        transform: scale(0);

        &:first-child {
          transform: rotate(-45deg);
          top: calc(45% - 1px);
        }

        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
          width: 26px;
          left: calc(5% - 1px);
        }
      }
    }
  }
}