@import "_mixins";

.here {
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  font-style: normal;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
    grid-column-gap: 39px;
    padding-top: 100px;
    padding-bottom: 33px;

    @media (max-width: ($md6 + px)) {
      grid-column-gap: 0;
    }
  }

  &__content {
    grid-area: 1 / 1 / 3 / 2;
  }

  &__block-name {
    grid-area: 1 / 2 / 2 / 3;
  }

  &__window-img {
    grid-area: 2 / 2 / 3 / 3;
  }

  &__title-text {
    @include MontserratFont;
    @include fontParameters(normal, 700, 46px, 35px, #8D81AC);

    padding-left: 18px;

    text-align: center;

    @media (max-width: ($md4 + px)) {
      font-size: 41px;
    }
    //added media so that line wouldn't go to the 3rd row
    @media (max-width: ($md10 + px)) {
      padding: 0 30px 36px 30px;
    }

    @media (max-width: ($md11 + px)) {
      padding: 0 60px 36px 60px;
    }
  }

  &__card-content {
    display: flex;
  }

  &__card-text-container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 17px;

    max-width: 405px;
    transition: 2s;

    @media (max-width: ($md7 + px)) {
      max-width: 300px;
      transition: 2s;
    }
    @media (max-width: ($md6 + px)) {
      max-width: 270px;
      transition: 2s;
    }
  }

  &__card-name {
    @include MontserratFont;
    @include fontParameters(normal, bold, 16px, 16px, #323232);
  }

  &__card-information {
    @include MontserratFont;
    @include fontParameters(normal, 400, 14px, 21px, #848E97);
  }

  &__window-img-320 {
    display: none;
  }
}

.first_img {
  margin-right: 23px;
}

.second_img {
  margin-right: 44px;
}

.third_img {
  margin-right: 63px;
  margin-left: 10px;
}

.fourth_img {
  margin-right: 50px;
  margin-left: 10px;
}

@media (max-width: ($md2 + px)) {
  .here {
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      padding-bottom: 0px;
      padding-top: 62px;
    }

    &__content {
      max-width: 700px;
    }

    &__title-text {
      font-size: 42px;
      line-height: 44px;
      padding: 0 0 50px 0;
      order: -1;

      @media (max-width: ($md5 + px)) {
        font-size: 36px;
      }
    }

    &__card-content {
      padding-left: 20px;
      padding-right: 20px;
    }

    &__card-information {
      max-width: 563px;
    }

    &__card-text-container {
      max-width: 100%;
    }

    &__img-container {
      margin: 0 auto;
    }

    &__window-img {
      padding-right: 0px;
    }

    &__window-container {
      margin-bottom: 0px;
    }
  }
}

@media (max-width: ($md3 + px)) {
  .here {
    //mb here is a problem
    &__container {
      //padding-left: 25px;
    }

    &__title-text {
      font-size: 32px;
      line-height: 38px;
      //changed here padding
      padding: 0 80px 36px 80px;
      text-align: center;
      order: -1;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__card-content {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;
    }

    &__card-img {
      margin-bottom: 20px;
      margin-right: 0;
      margin-left: 0;
    }

    &__card-name {
      text-align: center;
    }

    &__card-information {
      text-align: center;
      min-width: 271px;
    }

    &__window-img {
      display: none;
    }

    &__window-img-320 {
      display: block;
    }
  }
}

.top {
  padding-top: 32px;
}