@mixin MontserratFont {
  font-family: 'Montserrat', sans-serif;
}

@mixin LatoFont {
  font-family: 'Lato', sans-serif;
}

@mixin fontParameters ($fst, $fw, $fs, $lh, $color) {
  font-style: $fst;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  color: $color;
}

@mixin bg-center {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin text-MontWhite {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
}
