@import "_mixins";

.people-are-talking {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;

  &__title {
    @include MontserratFont();
    @include fontParameters (normal, 700, 48px, 50px, #FFFFFF);

    padding-top: 108px;
    padding-bottom: 82px;
    margin-left: 30px;
    margin-right: 30px;

    @media (max-width: ($md2 + px)) {
      @include fontParameters (normal, 700, 42px, 44px, #FFFFFF);
      padding-top: 86px;
      padding-bottom: 85px;
    }

    @media (max-width: ($md3 + px)) {
      @include fontParameters (normal, 700, 36px, 48px, #FFFFFF);
      padding-top: 57px;
      padding-bottom: 53px;
    }
  }

  &__magazines {
    max-width: 1200px;

    display: grid;

    align-items: center;
    align-content: center;
    justify-items: center;

    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 120px;
    grid-row-gap: 110px;

    margin-left: 20px;
    margin-right: 20px;

    transition: 2s;

    @media (max-width: ($md4 + px)) {
      grid-column-gap: 10px;
      transition: 2s;
    }

    @media (max-width: ($md2 + px)) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 63px;
      grid-row-gap: 58px;
    }

    @media (max-width: ($md5 + px)) {
      grid-column-gap: 25px;
    }

    @media (max-width: ($md3 + px)) {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 45px;
    }
  }

  &__label {
    max-width: 320px;
  }

  &__logo-text  {
    @include LatoFont();
    @include fontParameters (italic, 700, 16px, 24px, #FFFFFF);
    padding-top: 22px;
  }

  &__low-text {
    @include LatoFont();
    @include fontParameters (normal, 400, 14px, 21px, #A291A5);

    max-width: 890px;
    margin: 0 auto;

    padding-top: 72px;

    @media (max-width: ($md2 + px)) {
      margin-right: 34px;
      margin-left: 34px;
    }

    @media (max-width: ($md3 + px)) {
      margin-right: 28px;
      margin-left: 28px;
    }
  }

  &__low-text::after {
    content: '';
    display: flex;
    justify-content: center;
    padding-bottom: 18.5px;
    margin-left: 60px;
    margin-right: 60px;

    max-width: 780px;
    border-bottom: 2px solid #645766;

    @media (max-width: ($md2 + px)) {
      margin-left: 74px;
      margin-right: 74px;
      padding-bottom: 19.5px;
    }

    @media (max-width: ($md3 + px)) {
      margin-left: 3px;
      margin-right: 3px;
      padding-bottom: 22px;
    }
  }
}

.smashing-logo {
  margin-bottom: 21px;
}

.codrops-logo {
  margin-bottom: 14px;
}

.w_label-logo {

}

.pixel-buddha-logo {
  margin-bottom: 40px;
}

.creative-bloq-logo {
  margin-bottom: 30px;
}

.tnw-logo {
  margin-bottom: 30px;
}