@import "_mixins";

.revolutionary-editor {
  text-align: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;

  background: #FFFFFF;

  &__trial {
    @include MontserratFont();
    @include fontParameters(normal, 400, 14px, 15px, #848E97);

    padding-top: 48px;
    padding-bottom: 66px;

    @media (max-width: ($md2 + px)) {
      padding-bottom: 94px;
    }

    @media (max-width: ($md3 + px)) {
      padding-bottom: 80px;
    }
  }

  &__title {
    @include MontserratFont();
    @include fontParameters(normal, 700, 54px, 54px, #635C73);

    padding: 0 24px 35px;

    @media (max-width: ($md2 + px)) {
      @include fontParameters (normal, 700, 42px, 42px, #635C73);
      padding-bottom: 33px;
    }

    @media (max-width: ($md3 + px)) {
      @include fontParameters (normal, 700, 26px, 28px, #635C73);
      padding-bottom: 27px;
    }
  }

  &__text {
    @include LatoFont();
    @include fontParameters(normal, 400, 21px, 32px, #323232);

    max-width: 861px;
    margin: 0 auto;

    padding: 0 20px 13px;

    @media (max-width: ($md2 + px)) {
      padding-bottom: 24px;
    }

    @media (max-width: ($md3 + px)) {
      @include fontParameters(normal, 400, 14px, 20px, #323232);
      padding-bottom: 36px;
    }
  }

  &__statistic {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;

    padding: 0 30px 70px;

    @media (max-width: ($md2 + px)) {
      padding-bottom: 98px;
    }

    @media (max-width: ($md3 + px)) {
      padding-bottom: 88px;
      margin-left: 18px;
      margin-right: 18px;
    }

    @media (max-width: ($md9 + px)) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__statistic-link {
    @include LatoFont();
    @include fontParameters(normal, 900, 10px, 10px, #323232);

    text-decoration: none;

    padding-top: 2px;
  }

  &__statistic-text-left {
    @include LatoFont();
    @include fontParameters(normal, 900, 10px, 10px, #323232);

    padding-top: 2px;
  }

  &__block {
    border: 1px solid #D5D5D5;
    border-radius: 3px;
    display: flex;
    justify-content: center;
  }

  &__svg-block {
    width: 78px;
    height: 24px;

    background-color: #F9F9F9;
    border-right: 1px solid #D5D5D5;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }

  &__text-block {
    width: 42px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}