@import "_variables";
@import "_mixins";
@import "_header";
@import "_fork-app";
@import "_revolutionary-editor";
@import "_here-is-what-you-get";
@import "_people-are-talking";
@import "_fork-pricing";


//@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Basic styles
.content {
  max-width: 100%;
  min-width: 320px;
  margin: 0 auto;

  @include MontserratFont();
  @include LatoFont();

  background-color: $backGroundColor;
}

.wrapper-header {
  min-height: 100%;
  min-width: 320px;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: ($md2 + px)) {
    background-color: #27262A;
  }
}

.wrapper-fork-app {
  background: url(../img/bg_revolutionary-editor.png);
  @include bg-center();
}

.wrapper-people-are-talking {
  background: url(../img/bg_people-are-talking.png);
  @include bg-center();
  padding-bottom: 12px;
}

.wrapper-here-is-what {
  background: url(../img/bg_here-is-what.png);
  @include bg-center();
  }

  @media (max-width: ($md2 + px)) {
    .wrapper-here-is-what {
      background: none;
      background-size: cover;
  }
}

.wrapper-fork-pricing {
  background: url(../img/bg_fork-pricing.png);
  @include bg-center();
  margin-top: -12px;
}
